<!-- SIDE MENU -->
<side-menu contentId="customers-other-contacts-page-content" menuId="customers-other-contacts-page-menu" ></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.OTHER_CONTACTS_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="customers-other-contacts-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="customers-other-contacts-page-content" scrollY='false'>
    <div class="content">
        <div class="customer-name">
            {{customerName}}
        </div>
        <div class="contact-card" *ngFor="let contact of contacts">
            <div class="name">{{contact.name}}</div>
            <div class="position">{{contact.position}}</div>
            <div class="contact" *ngIf="contact.phone">
                <div class="pri-icon touch-off pri-telephone-one-icon contact-icon"></div>
                <div class="pri-icon touch-on  pri-telephone-one-active-icon contact-icon"></div>
                <a class="contact-value" [href]="'phone:' + contact.phone | safeUrl">{{contact.phone}}</a>
            </div>
            <div class="contact" *ngIf="contact.mobilePhone">
                <div class="pri-icon touch-off pri-telephone-two-icon contact-icon"></div>
                <div class="pri-icon touch-on  pri-telephone-two-active-icon contact-icon"></div>
                <a class="contact-value" [href]="'phone:' + contact.mobilePhone | safeUrl">{{contact.mobilePhone}}</a>
            </div>
            <div class="contact" *ngIf="contact.fax">
                <div class="pri-icon touch-off pri-fax-icon contact-icon"></div>
                <div class="pri-icon touch-on  pri-fax-active-icon contact-icon"></div>
                <a class="contact-value" [href]="'fax:' + contact.fax | safeUrl">{{contact.fax}}</a>
            </div>
            <div class="contact" *ngIf="contact.email">
                <div class="pri-icon touch-off pri-email-icon contact-icon"></div>
                <div class="pri-icon touch-on  pri-email-active-icon contact-icon"></div>
                <a class="contact-value" [href]="'mailto:' + contact.email | safeUrl">{{contact.email}}</a>
            </div>
        </div>
    </div>
</ion-content>