<div class="total-sales-ticker">
    <div class="chart" [ngStyle]="dataStyle">
        <canvas #chart></canvas>
        <div class="last-year-label">{{companySalesSummary.totalSalesPreviousLegend}}</div>
        <div class="current-year-label">{{companySalesSummary.totalSalesLegend}}</div>
        <div class="end-chart">
            <div></div>
        </div>
        <div class="sales-delta" [ngClass]="{negative: salesDelta < 0}">{{salesDelta | round }}%</div>
    </div>
    <div class="data" [ngStyle]="dataStyle">
        <div class="data-wrapper">
            <div class="date">
                {{companySalesSummary.dataTimestamp | date:'mediumDate'}}
            </div>
            <div class="company">
                {{companySalesSummary.name}}
            </div>
            <div class="total-sales">
                <div class="label">
                    Total Sales
                </div>
                <div class="line"></div>
                <div class="value">
                    {{companySalesSummary.totalSales | currency:companySalesSummary.currency}}
                </div>
            </div>
        </div>
    </div>
</div>