<div class="total-sales-ticker" (click)="navigateToSales()">
    <div class="chart" [ngStyle]="dataStyle">
        <canvas #chart></canvas>
        <div class="last-year-label">{{companySalesSummary.totalSalesPreviousLegend}}</div>
        <div class="current-year-label">{{companySalesSummary.totalSalesLegend}}</div>
        <div class="end-chart">
            <div></div>
        </div>
        <div class="sales-delta" *ngIf="salesDeltaAvailable" [ngClass]="{negative: salesDelta < 0}">{{salesDelta | round }}%</div>
        <div class="sales-delta not-available" *ngIf="!salesDeltaAvailable">N/A</div>
    </div>
    <div class="data" [ngStyle]="dataStyle">
        <div class="data-wrapper">
            <div class="date">
                {{companySalesSummary.dataTimestamp | localeDate:'mediumDate'}}
            </div>
            <div class="company">
                {{companySalesSummary.name}}
            </div>
            <div class="total-sales">
                <div class="label">
                    {{ 'SALES.TOTAL_SALES_TICKER_COMPONENT.TOTAL_SALES' | translate}}
                </div>
                <div class="line"></div>
                <div class="value" *ngIf="!useReferenceCurrency">
                    {{companySalesSummary.totalSales | localeCurrency:companySalesSummary.currency}}
                </div>
                <div class="value" *ngIf="useReferenceCurrency">                    
                    {{companySalesSummary.totalSalesReporting | localeCurrency:companySalesSummary.reportingCurrency}}
                </div>

            </div>
        </div>
    </div>
</div>