<!-- SIDE MENU -->
<side-menu contentId="content"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.CUSTOMERS_LIST_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="content" scrollY='false'>
    <div class="customers-list" [ngClass]="{'recent-state': state === 'recent', 'search-state': state === 'search'}">
        <div class="toogle-menu">
            <button (click)="recentOptionAction()" [ngClass]="{'selected': state === 'recent', 'order-desc': recentOrder === 'desc' }">
                <div class="label">
                    <span class="pri-icon" [ngClass]="{'pri-order-asc-icon': recentOrder === 'asc', 'pri-order-desc-icon': recentOrder === 'desc' }"></span> 
                    {{ 'CUSTOMERS.CUSTOMERS_LIST_PAGE.TOOGLE_MENU_RECENT' | translate }}
                </div>
            </button>
            <button (click)="searchOptionAction()" [ngClass]="{'selected': state === 'search', 'order-desc': searchOrder === 'desc' }">
                <div *ngIf="searchOrder === 'asc'" class="label">
                    <span class="pri-icon pri-order-asc-icon"></span> 
                    {{ 'CUSTOMERS.CUSTOMERS_LIST_PAGE.TOOGLE_MENU_SEARCH_ASC' | translate }}
                </div>
                <div *ngIf="searchOrder === 'desc'" class="label">
                    <span class="pri-icon pri-order-desc-icon"></span>
                    {{ 'CUSTOMERS.CUSTOMERS_LIST_PAGE.TOOGLE_MENU_SEARCH_DESC' | translate }}
                </div>
            </button>
        </div>
        <div class="search">
            <div class="magnifier"></div>
            <input (keyup)="onSearchUpdate($event.target.value)" />
        </div>
        <div class="list">
            <div class="list-item" *ngFor="let costumer of customers" (click)="customerAction(costumer)">
                <div class="key">{{costumer.key}}</div>
                <div class="company-key">{{costumer.companyKey}}</div>
                <div class="name">{{costumer.name}}</div>
                <div class="location">{{costumer.location}}</div>
            </div>
        </div>
    </div>
</ion-content>