<!-- SIDE MENU -->
<side-menu contentId="customers-pending-orders-page-content" menuId="customers-pending-orders-page-menu"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.PENDING_ORDERS_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="customers-pending-orders-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="content" scrollY='false'>
    <div class="pending-orders" *ngIf="pendingOrders">
        <div class="no-documensts" *ngIf="!pendingOrders.documents || pendingOrders.documents.length === 0">
            {{'CUSTOMERS.COMMON.NO_DOCUMENTS_TO_SHOW' | translate}}
        </div>
        <finantial-document-row 
            *ngFor="let doc of pendingOrders.documents"
            [title]="doc.headerItems | valueFromDocumentValues:'DocumentName|DocumentNumber'"
            [date]="doc.headerItems | valueFromDocumentValues:'DocumentDate'"
            [value]="doc.headerItems | valueFromDocumentValues:'DocumentTotalValue'"
            (click)="showDocumentDetailAction(doc)">
        </finantial-document-row>
    </div>
</ion-content>