@import '../../styles/variables.scss';


.pending-orders {

    height: -webkit-fill-available;
    overflow-y: auto;

    .no-documensts {
        top: 50%;
        position: absolute;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
    }
}
