@import '../../styles/variables.scss';


.pending-orders {
    .no-documensts {
        top: 50%;
        position: absolute;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
    }
}
