<!-- SIDE MENU -->
<side-menu contentId="customers-recent-activity-page-content" menuId="customers-recent-activity-page-menu"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.RECENT_ACTIVITY_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="customers-recent-activity-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="customers-recent-activity-page-content" scrollY='false'>
    <div class="recent-activity" *ngIf="recentActivity">
        <div class="no-documensts" *ngIf="(!recentActivity.invoices || recentActivity.invoices.length === 0) && (!recentActivity.orders || recentActivity.orders.length === 0) && (!recentActivity.payments || recentActivity.payments.length === 0)">
            {{'CUSTOMERS.COMMON.NO_DOCUMENTS_TO_SHOW' | translate}}
        </div>
        <div class="group" *ngIf="recentActivity.invoices && recentActivity.invoices.length > 0">
            <div class="group-header">Invoices</div>
            <div class="group-rows">
                <finantial-document-row *ngFor="let doc of recentActivity.invoices" [title]="doc.headerItems | valueFromDocumentValues:'DocumentName|DocumentNumber'"
                    [date]="doc.headerItems | valueFromDocumentValues:'DocumentDate'" [value]="doc.headerItems | valueFromDocumentValues:'DocumentTotalValue'"
                    (click)="showInvoicesDetailAction(doc)">
                </finantial-document-row>
            </div>
        </div>
        <div class="group" *ngIf="recentActivity.orders && recentActivity.orders.length > 0">
            <div class="group-header">Orders</div>
            <div class="group-rows">
                <finantial-document-row *ngFor="let doc of recentActivity.orders" [title]="doc.headerItems | valueFromDocumentValues:'DocumentName|DocumentNumber'"
                    [date]="doc.headerItems | valueFromDocumentValues:'DocumentDate'" [value]="doc.headerItems | valueFromDocumentValues:'DocumentTotalValue'"
                    (click)="showOrdersDetailAction(doc)">
                </finantial-document-row>
            </div>
        </div>
        <div class="group" *ngIf="recentActivity.payments && recentActivity.payments.length > 0">
            <div class="group-header">Payments</div>
            <div class="group-rows">
                <finantial-document-row *ngFor="let doc of recentActivity.payments" [title]="doc.headerItems | valueFromDocumentValues:'DocumentName|DocumentNumber'"
                    [date]="doc.headerItems | valueFromDocumentValues:'DocumentDate'" [value]="doc.headerItems | valueFromDocumentValues:'DocumentTotalValue'"
                    (click)="showPaymentsDetailAction(doc)">
                </finantial-document-row>
            </div>
        </div>
    </div>
</ion-content>