<!-- SIDE MENU -->
<side-menu contentId="customers-customer-page-content" menuId="customers-customer-page-menu"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.CUSTOMER_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="customers-customer-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="customers-customer-page-content" scrollY='false'>
    <div class="customer" *ngIf="customer">
        <div class="customer-name">
            {{customer.name}}
        </div>
        <div class="customer-address-part">
            <div class="customer-address-part-icon pri-icon pri-address-icon"></div>
            <div class="customer-address-part-label">
                {{customerAddressBuilder(customer)}}
            </div>
        </div>
        <div class="customer-address-part col-6" *ngIf="customer.contacts.phone">
            <div class="pri-icon pri-telephone-one-icon customer-address-part-icon"></div>
            <a class="customer-address-part-label" [href]="'phone:' + customer.contacts.phone | safeUrl">{{customer.contacts.phone}}
            </a>
        </div>
        <div class="customer-address-part col-6" *ngIf="customer.contacts.phone2">
            <div class="pri-icon pri-telephone-two-icon customer-address-part-icon"></div>
            <a class="customer-address-part-label" [href]="'phone:' + customer.contacts.phone2 | safeUrl">{{customer.contacts.phone2}}</a>
        </div>
        <div class="customer-address-part" *ngIf="customer.contacts.fax">
            <div class="pri-icon pri-fax-icon customer-address-part-icon"></div>
            <a class="customer-address-part-label" [href]="'fax:' + customer.contacts.fax | safeUrl">{{customer.contacts.fax}}</a>
        </div>
        <div class="customer-address-part" *ngIf="customer.contacts.webAddress">
            <div class="pri-icon pri-website-icon customer-address-part-icon"></div>
            <a class="customer-address-part-label" [href]='customer.contacts.webAddress | safeUrl'>{{customer.contacts.webAddress}}</a>
        </div>
        <div class="other-addresses" (click)="otherAddressesAction()">
            {{ 'CUSTOMERS.CUSTOMER_PAGE.CONTACTS_OTHER_ADDRESSES' | translate }}
        </div>
        <div class="other-contacts" (click)="otherContactsAction()">
            {{ 'CUSTOMERS.CUSTOMER_PAGE.CONTACTS_OTHER_CONTACTS' | translate }}
        </div>
        <div class="sales">
            <div class="sales-header">{{ 'CUSTOMERS.CUSTOMER_PAGE.SALES_TITLE' | translate }}</div>
            <div class="sales-row">
                <div class="col-5">
                    <div class="sales-row-label left">{{ 'CUSTOMERS.CUSTOMER_PAGE.SALES_CURRENT_YEAR_TOTAL_SALES_LABEL'
                        | translate }} {{currentYear}}</div>
                    <div class="sales-row-value left">{{customer.sales.totalSales.currentSales |
                            localeCurrency:customer.sales.currency}}</div>
                </div>
                <div class="col-2">
                    <div class="sales-value" [ngClass]="{'positive': salesPercentageVariation > 0, 'negative': salesPercentageVariation < 0}">
                        <div class="top-arrow"></div>
                        <div class="value">{{salesPercentageVariation}}%</div>
                        <div class="bottom-arrow"></div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="sales-row-label right">{{
                        'CUSTOMERS.CUSTOMER_PAGE.SALES_PREVIOUS_YEAR_TOTAL_SALES_LABEL' | translate }} {{previousYear}}</div>
                    <div class="sales-row-value right">{{customer.sales.totalSales.previousSales |
                            localeCurrency:customer.sales.currency}}</div>
                </div>
            </div>
            <div class="sales-row" (click)="pendingOrdersAction()">
                <div class="sales-row-label left">{{ 'CUSTOMERS.CUSTOMER_PAGE.SALES_PENDING_ORDERS_LABEL' | translate
                    }}</div>
                <div class="sales-row-value left">{{customer.sales.pendingOrders | localeCurrency:customer.sales.currency}}</div>
            </div>
            <div class="sales-row" (click)="currentAccountAction()">
                <div class="sales-row-label left">{{ 'CUSTOMERS.CUSTOMER_PAGE.SALES_CURRENT_ACCOUNT_VALUE_LABEL' |
                    translate }}</div>
                <div class="sales-row-value left">{{customer.sales.valueCurrentAccount |
                    localeCurrency:customer.sales.currency}}</div>
            </div>
            <div class="sales-row">
                <div class="col-6">
                    <div class="sales-row-label left">{{
                        'CUSTOMERS.CUSTOMER_PAGE.SALES_AVERAGE_COLLECTION_PERIOD_LABEL' | translate }}</div>
                    <div class="sales-row-value left">{{customer.sales.averagePayDays.days}} {{
                        'CUSTOMERS.CUSTOMER_PAGE.SALES_DAYS_PARTIAL_LABEL' | translate }}</div>
                </div>

                <div class="col-6">
                    <div class="sales-row-sub-label right">{{ 'CUSTOMERS.CUSTOMER_PAGE.SALES_PAYMENT_CONDITIONS_LABEL'
                        | translate }}</div>
                    <div class="sales-row-value right">{{customer.sales.averagePayDays.paymentConditions}} {{
                        'CUSTOMERS.CUSTOMER_PAGE.SALES_DAYS_PARTIAL_LABEL' | translate }}</div>
                </div>
            </div>
            <div class="sales-row" (click)="recentActivityAction()">
                <div class="col-6">
                    <div class="sales-row-label left">{{ 'CUSTOMERS.CUSTOMER_PAGE.SALES_RECENT_ACTIVITY_LABEL' |
                        translate }}</div>
                    <div class="sales-row-value left">{{customer.sales.recentActivity.type}}
                        {{customer.sales.recentActivity.number}}</div>
                </div>

                <div class="col-6">
                    <div class="sales-row-sub-label right">{{customer.sales.recentActivity.date | localeDate:'shortDate'}}</div>
                </div>
            </div>
        </div>
    </div>
</ion-content>