<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'SHELL.TICKER_SETTINGS_PAGE.PAGE_TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content scrollY='false'>
    <div class="ticker-settings settings">
        <div class="settings-group">
            <div class="setting-row" *ngFor="let moduleDefinition of modulesDefinitionsWithTicker | orderBy: 'displayRelevance'">
                <img class="module-icon" [attr.src]="moduleDefinition.iconPath" />
                <div class="setting-row-label">{{ moduleDefinition.localizedNameKey | translate }}</div>
                <div class="setting-row-right-container">
                    <ion-toggle [attr.checked]="moduleDefinition.summaries.visible" (ionChange)="onChangeAction(moduleDefinition)"></ion-toggle>
                </div>
            </div>
        </div>
    </div>
</ion-content>