<!-- SIDE MENU -->
<side-menu contentId="content"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-title>
            <img class="v10-navbar-logo" src="../../../../assets/shell/v10_logo.svg">
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content id="content">
    <!-- Modules Tickers -->
    <tickers [tickers]="tickers"></tickers>
    
    <!-- Modules -->
    <div class="modules-drawer">
        <a *ngIf="salesModuleEnabled" class="module-icon" [routerLink]="['/sales']">
            <img src="../../assets/sales/sales_logo.svg">
            <div class="name">Sales</div>
        </a>
        <a *ngIf="humanResourcesModuleEnabled" class="module-icon" [routerLink]="['/humanresources']">
            <img src="../../assets/human-resources/human_resources_logo.svg">
            <div class="name">HR</div>
        </a>
        <a *ngIf="customersModuleEnabled" class="module-icon" [routerLink]="['/customers']">
            <img src="../../assets/customers/customers_logo.svg">
            <div class="name">Customers</div>
        </a>
    </div>
</ion-content>