<!-- SIDE MENU -->
<side-menu contentId="content"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-title>
            <img class="v10-navbar-logo" src="../../../../assets/shell/v10_logo.svg">
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content id="content">
    <!-- Modules Tickers -->
    <div class="tickers">
        <tickers [tickers]="tickers"></tickers>
    </div>
    
    <!-- Modules -->
    <div class="modules-drawer">
        <a *ngFor="let moduleDef of modulesDefinitions | orderBy:'displayRelevance'" class="module-icon" [routerLink]="moduleDef.moduleRoutePath">
            <img [attr.src]="moduleDef.iconPath">
            <div class="name">{{moduleDef.localizedNameKey | translate}}</div>
        </a>
    </div>
</ion-content>