<ion-header>
    <ion-toolbar>
        <ion-title>
            V10 Mobile
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-grid>
        <!-- Modules Tickers -->
        <ion-row>
            <ion-col>
                <tickers [tickers]="tickers"></tickers>
            </ion-col>
        </ion-row>
        <!-- Modules -->
        <ion-row>
            <ion-col *ngIf="salesModuleEnabled">
                <a class="module-icon" [routerLink]="['/sales']">
                    <img src="../../assets/sales/sales_home.png">
                    <div class="name">Sales</div>
                </a>
            </ion-col>
            <ion-col *ngIf="humanResourcesModuleEnabled">
                <a class="module-icon" [routerLink]="['/hr']">
                    <img src="../../assets/human-resources/hr_home.png">
                    <div class="name">HR</div>
                </a>
            </ion-col>
            <ion-col *ngIf="customersModuleEnabled">
                <a class="module-icon">
                    <img src="../../assets/clients/clients_home.png" (click)="menu()">
                    <div class="name">Clients</div>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>