
// $modules-drawer-height: 160px;
// $tickers-height: calc(100% - #{$modules-drawer-height});

$modules-drawer-height: 18vh;
$tickers-height: calc(100% - #{$modules-drawer-height});

.v10-navbar-logo {
    height: 25px;
}

.tickers {
    height: $tickers-height;
}

.modules-drawer {
    border-top: 1px solid #dbe0eb;
    background: #f8f9fc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $modules-drawer-height;
    padding: 2vh;
    font-size: 2.3vh;
    line-height: 2vh;

    .module-icon {
        width: calc(100% / 3);
        height: 14vh;
        // padding: 10px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        display: block;
        float: left;

        img {
            height: 11vh;
        }

        img.touch-off{
            display: initial;
        }

        img.touch-on{
            display: none;
        }

        &:active {
            img.touch-off{
                display: none;
            }
    
            img.touch-on{
                display: initial;
            }   
        }
    
        .name {
            margin-top: 1vh;
            float: left;
            width: 100%;
            color: #596278
        }
    }
}