
$modules-drawer-height: 160px;
$tickers-height: calc(100% - #{$modules-drawer-height});

.v10-navbar-logo {
    height: 25px;
}

.tickers {
    height: $tickers-height;
}

.modules-drawer {
    border-top: 1px solid #dbe0eb;
    background: #f8f9fc;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $modules-drawer-height;
    padding: 10px 15%;

    .module-icon {
        width: calc(100% / 3);
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        display: block;
        float: left;

        img.Customers:active {
            content: url('../../../../assets/customers/customers_logo_pr.svg');
        }

        img.HumanResources:active {
            content: url('../../../../assets/human-resources/human_resources_logo_pr.svg');
        }

        img.Sales:active {
            content: url('../../../../assets/sales/sales_logo_pr.svg');
        }
    
        .name {
            margin-top: 5px;
            color: #596278
        }
    }
}