.authentication {
  .authentication-container {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }

  .logo-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: row;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: center;

    flex-grow: 1;

    .logo {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      box-flex: 1;
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto;

      padding: 10px;
      margin: 10px;

      text-align: center;

      img {
        max-height: 512px;
        max-width: 100%;
      }
    }
  }

  .footer {
    .prilogo {
      text-align: center;
      width: 100%;
      margin: 0.875em 0;

      img {
        height: 0.875em;
      }
    }
  }

  button {
    width: 100%;
    height: 3em;
    color: #00c4f5;
    background-color: transparent;
    border-bottom: 1px solid #dbe0eb;
    font-size: 15pt;
    font-weight: bold;

    &:first-child {
      border-top: 1px solid #dbe0eb;
    }

    &:active {
      color: #fff;
      background-color: rgba(0, 196, 245, 0.7);
    }

    &:focus {
      outline: 0;
    }
  }
}
