<ion-content scrollY='false' class="authentication">
    <div class="authentication-container">
        <div class="logo-container">
            <div class="logo">
                <img src="../../../../assets/shell/images/authentication_logo.gif">
            </div>
        </div>
        <div class="footer">
            <button tappable (click)="loginAction()">Login</button>
            <button tappable (click)="demoAction()">{{'SHELL.AUTHENTICATION.PRODUCT_TOUR_BTN' | translate}}</button>
            <div class="prilogo">
                <img src="../../../../assets/shared/images/PrimaveraLogo.svg">
            </div>
        </div>
    </div>
</ion-content>