<!-- SIDE MENU -->
<side-menu contentId="customers-other-contancts-page-content" menuId="customers-other-contancts-page-menu"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.OTHER_CONTACTS_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="customers-other-contancts-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="customers-other-contancts-page-content" scrollY='false'>
    <div class="other-contacts">
        <div class="customer-name">
            {{customerName}}
        </div>
        <div class="other-contacts-card" *ngFor="let contact of contacts">
            <div class="name">{{contact.name}}</div>
            <div class="position">{{contact.position}}</div>
            <div class="contact" *ngIf="contact.phone">
                <img class="contact-icon" src="../../../../assets/customers/images/tel1.png">
                <a class="contact-value" [href]="'phone:' + contact.phone | safeUrl">{{contact.phone}}</a>
            </div>
            <div class="contact" *ngIf="contact.mobilePhone">
                <img class="contact-icon" src="../../../../assets/customers/images/tel2.png">
                <a class="contact-value" [href]="'phone:' + contact.mobilePhone | safeUrl">{{contact.mobilePhone}}</a>
            </div>
            <div class="contact" *ngIf="contact.fax">
                <img class="contact-icon" src="../../../../assets/customers/images/fax.png">
                <a class="contact-value" [href]="'fax:' + contact.fax | safeUrl">{{contact.fax}}</a>
            </div>
            <div class="contact" *ngIf="contact.email">
                <img class="contact-icon" src="../../../../assets/customers/images/email.png">
                <a class="contact-value" [href]="'mailto:' + contact.email | safeUrl">{{contact.email}}</a>
            </div>
        </div>
    </div>
</ion-content>