@import '../../styles/variables.scss';


.finantial-document {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100% - 40px); // 40px => drawer height
}



.finantial-document-lines {
    
}
