<!-- SIDE MENU -->
<side-menu contentId="content"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.FINANTIAL_DOCUMENT_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="content" scrollY='false'>
    <div class="finantial-document">
        <finantial-document-row 
            [title]="document.headerItems | valueFromDocumentValues:configuration.documentHeader.titleKey"
            [date]="document.headerItems | valueFromDocumentValues:configuration.documentHeader.dateKey"
            [secondDate]="document.headerItems | valueFromDocumentValues:configuration.documentHeader.secondDateKey"
            [value]="document.headerItems | valueFromDocumentValues:configuration.documentHeader.valueKey"
            [secondValue]="document.headerItems | valueFromDocumentValues:configuration.documentHeader.secondValueKey">
        </finantial-document-row>
        <finantial-document-value-row *ngFor="let documentValue of documentValues" [documentValue]="documentValue" ></finantial-document-value-row>
    </div>
    <drawer>
        <div class="finantial-document-lines">
            <finantial-document-line-row 
                *ngFor="let line of document.lines; let i = index" 
                [rowIndex]="i + 1"
                [documentLine]="line" 
                [configuration]="configuration.documentLines"
                (click)="documentLineAction(line)">
            </finantial-document-line-row>
        </div>
    </drawer>
</ion-content>