@import '../../styles/variables.scss';

$sales-table-row-label-width: 20%;
$sales-table-row-current-year-value-width: 30%;
$sales-table-row-previous-year-value-width: 30%;
$sales-table-row-delta-percentage-width: 20%;
$sales-table-header-row-height: 30px;
$sales-table-rows-height: calc(100% - #{$sales-table-header-row-height});

.sales-table {
    margin: 0 10px;
    padding: 10px 0;
    height: 100%;
    border-bottom: 1px solid #000;

    .sales-table-header-row {
        width: 100%;
        height: $sales-table-header-row-height;
        font-size: 14pt;
        border-bottom: 1px solid #000;

        &:after {
            content: ' ';
            border-bottom: 1px solid red;
        }

    }

    .sales-table-rows {
        height: $sales-table-rows-height;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .sales-table-row {
        width: 100%;
        height: 20px;
        border-bottom-style: solid;
        border-bottom-color: #000;
        border-bottom-width: 0.55px;
        font-size: 10pt;

        &:last-child {
            border-bottom-width: 0;
        }
    }

    .sales-table-row-label {
        float: left;
        width: $sales-table-row-label-width;
        height: 100%;
    }

    .sales-table-row-current-year-value {
        float: left;
        text-align: right;
        width: $sales-table-row-current-year-value-width;
        color: $current-year-accent-color;
        height: 100%;
    }

    .sales-table-row-previous-year-value {
        float: left;
        text-align: right;
        width: $sales-table-row-previous-year-value-width;
        color: $previous-year-accent-color;
        height: 100%;
    }

    .sales-table-row-delta-percentage {
        float: left;
        text-align: right;
        width: $sales-table-row-delta-percentage-width;
        height: 100%;
        color: green;

        &.negative {
            color: red;
        }
    }
}