

.sales-ticker {
    height: 230px;

    .title {
        text-align: center;
        font-weight: bold;
    }

    .chart {
        width: 150px;
        height: 150px;

        .last-year-label {
            position: absolute;
            top:120px;
            left: 90px;
            color: rgb(212, 212, 212);
        }

        .current-year-label {
            position: absolute;
            color: rgb(0, 164,229);
            top:140px;
            left: 90px;
        }
    }

    .data {
        .date {
            float: left;
            width:100%;
            text-align: left;
        }

        .company {
            float: left;
            width:100%;
            text-align: left;
            color: rgb(0, 164,229);
        }

        .total-sales {
            float: left;
            width:100%;
            text-align: left;
            bottom: 0;
            position: absolute;

            .label {
                border-bottom: 1px solid gray;
            }

            .value {
                color: rgb(0, 164,229);
            }
        }
    }
}