<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{ 'SALES.SALES_SETTINGS_PAGE.PAGE_TITLE' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content scrollY='false'>
    <div class="settings sales-settings">
        <div class="settings-group">
            <div class="setting-row">
                <div class="setting-row-label">{{ 'SALES.SALES_SETTINGS_PAGE.USE_REFERENCE_CURRENCY_TOGGLE' | translate }}</div>
                <div class="setting-row-right-container"><ion-toggle [(ngModel)]="useReferenceCurrency"></ion-toggle></div>
            </div>
        </div>
        <div class="settings-group">
            <div class="setting-row">
                <div class="setting-row-label">{{ 'SALES.SALES_SETTINGS_PAGE.SHOW_AGGREGATE_DATA_TOGGLE' | translate }}</div>
                <div class="setting-row-right-container"><ion-toggle [(ngModel)]="showAggregateData"></ion-toggle></div>
            </div>
            <div class="setting-row">
                <div class="setting-row-label">{{ 'SALES.SALES_SETTINGS_PAGE.SHOW_DAILY_SALES_TOGGLE' | translate }}</div>
                <div class="setting-row-right-container"><ion-toggle [(ngModel)]="showDailySales"></ion-toggle></div>
            </div>
        </div>
    </div>
</ion-content>