@import '../../styles/variables.scss';

$accent-color: rgb(80,130,254);
$background-color: rgb(246,247,249);

$footer-tab-menus-wrapper-height: 50px;
$sales-content-height: calc(100% - #{$footer-tab-menus-wrapper-height});
$sales-header-height:64px;
$chart-controllers-height:40px;
$extra-info-height:40px;
$month-selector:40px;
$chart-content-height: calc(100% - #{$sales-header-height + $chart-controllers-height + $extra-info-height + $month-selector});


.page-title {
    color: $accent-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
        content: ' ';
        background-image: url('../../../../assets/sales/action-bar-dropdown-button.png');
        background-repeat: no-repeat;
        background-size: 17px;
        width: 17px;
        height: 17px;
        display: block;
        float: right;
        margin: 3px 5px;
    }
}

.sales-content{
    background-color: $background-color;
    // margin-top:-20px;
    // padding-top: 20px;
    height: $sales-content-height;
}

.sales-header {
    height: $sales-header-height;
    padding: 10px;

    .chart-name {
        font-weight: bolder;
        text-transform: uppercase;
    }

    .data-date {

    }
}

.chart-controllers {
    height: $chart-controllers-height;

    .chart-ctrl-btn {
        float: left;
        width: 40px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 16pt;
        line-height: 40px;

        background-position: center;
        background-size: 22px;
        background-repeat: no-repeat;

        &.selected {
            background-color: white;
            color: $accent-color;
        }
    }

    .chart-ctrl-btn-month {
        margin-left: 10px;
        float: left;
    }

    .chart-ctrl-btn-quarter {
        float: left;
    }

    .chart-ctrl-btn-table {
        float: right;
        margin-right:10px;
        background-image: url('../../../../assets/sales/charts-top-table.png');

        &.selected{
            background-image: url('../../../../assets/sales/charts-top-table-pressed.png');
        }
    }

    .chart-ctrl-btn-accumulated {
        float: right;
        background-image: url('../../../../assets/sales/charts-top-accumulated.png');

        &.selected{
            background-image: url('../../../../assets/sales/charts-top-accumulated-pressed.png');
        }
    }

    .chart-ctrl-btn-absolute {
        float: right;
        background-image: url('../../../../assets/sales/charts-top-absolute.png');

        &.selected{
            background-image: url('../../../../assets/sales/charts-top-absolute-pressed.png');
        }
    }
}

.chart-content {
    height: $chart-content-height;
    background:#fff;
}

.extra-info {
    width: 100%;
    height: $extra-info-height;
    background: #fff;
    text-align: center;
    font-size: 10pt;
    padding: 10px;
}

.month-selector-wrapper {
    width: 100%;
    height: $month-selector;
}

.footer-tab-menus-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-tab-menus-wrapper-height;
    z-index: 1;
}