<!-- SIDE MENU -->
<side-menu contentId="content"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="selectedCompany">
            <div class="page-title" (click)="companySelectorAction($event)">
                {{selectedCompany.key}}
            </div>
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="content">
    <div class="sales-content">
        <div class="sales-header">
            <div class="chart-name">MONTHLY SALES</div>
            <div class="data-date">{{dataDate | date:'medium'}}</div>
        </div>
        <div class="chart-controllers">
            <div class="selected chart-ctrl-btn chart-ctrl-btn-month" *ngIf="showTimeFrameSelector" [ngClass]="{'selected': timeFrame === 'monthly'}"
                (click)="changeTimeFrameAction('monthly')">M</div>
            <div class="chart-ctrl-btn chart-ctrl-btn-quarter" *ngIf="showTimeFrameSelector" [ngClass]="{'selected': timeFrame === 'quarter'}"
                (click)="changeTimeFrameAction('quarter')">Q</div>

            <div class="chart-ctrl-btn chart-ctrl-btn-table" [ngClass]="{'selected': viewType === 'table'}" (click)="toggleTableView()"></div>

            <div class="chart-ctrl-btn chart-ctrl-btn-accumulated" [ngClass]="{'selected': valueType === 'accum'}"
                (click)="changeValueType('accum')"></div>

            <div class="selected chart-ctrl-btn chart-ctrl-btn-absolute" [ngClass]="{'selected': valueType === 'abs'}"
                (click)="changeValueType('abs')"></div>
        </div>
        <div class="chart-legend">
            {{yAxisScaleUnitPrefix}} | 2018 | 2017
        </div>
        <div class="chart">
            <div class="chart-canvas-wrapper">
                <canvas #chartCanvas></canvas>
            </div>
            <div class="scale-line scale-line-one">
                <span>{{yAxisScaleStep}}</span>
            </div>
            <div class="scale-line scale-line-two">
                <span>{{yAxisScaleStep * 2}}</span>
            </div>
            <div class="scale-line scale-line-three">
                <span>{{yAxisScaleStep * 3}}</span>
            </div>
            <div class="scale-line scale-line-four">
                <span>{{yAxisScaleStep * 4}}</span>
            </div>
        </div>
        <div class="extra-info"> Others: 100k€</div>
        <div class="month-selector">
            <div class="month">jan</div>
            <div class="month">fev</div>
            <div class="month">mar</div>
            <div class="month">apr</div>
            <div class="month">may</div>
            <div class="month">jun</div>
            <div class="month">jul</div>
            <div class="month">aug</div>
            <div class="month">sep</div>
            <div class="month">oct</div>
            <div class="month">nov</div>
            <div class="month">dec</div>
        </div>
    </div>
    <div class="footer-tab-menus-wrapper">
        <footer-tab-menus [menus]="footerTabMenus" (menuItemSelected)="onFooterMenuItemSelected($event)"></footer-tab-menus>
    </div>
</ion-content>