@import '../../styles/variables.scss';

$accent-color: rgb(80,130,254);
$background-color: rgb(246,247,249);
$chart-background-color: rgb(255,255,255);

$footer-tab-menus-wrapper-height: 50px;
$sales-content-height: calc(100% - #{$footer-tab-menus-wrapper-height});

$sales-header-height:64px;
$chart-controllers-height:40px;
$chart-legend-height: 20px;
$extra-info-height:40px;
$month-selector:40px;
$chart-height: calc(100% - #{$sales-header-height + $chart-controllers-height + $chart-legend-height + $extra-info-height + $month-selector});
$chart-yAxis-legend-wrapper-height: 30px;
$chart-canvas-wrapper-height: calc(100% - #{$chart-yAxis-legend-wrapper-height});

.page-title {
    color: $accent-color;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before {
        content: ' ';
        background-image: url('../../../../assets/sales/action-bar-dropdown-button.png');
        background-repeat: no-repeat;
        background-size: 17px;
        width: 17px;
        height: 17px;
        display: block;
        float: right;
        margin: 3px 5px;
    }
}

.sales-content{
    background-color: $background-color;
    // margin-top:-20px;
    // padding-top: 20px;
    height: $sales-content-height;;
}

.sales-header {
    height: $sales-header-height;
    padding: 10px;

    .chart-name {
        font-weight: bolder;
        text-transform: uppercase;
    }

    .data-date {

    }
}

.chart-controllers {
    height: $chart-controllers-height;

    .chart-ctrl-btn {
        float: left;
        width: 40px;
        height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 16pt;
        line-height: 40px;

        background-position: center;
        background-size: 22px;
        background-repeat: no-repeat;

        &.selected {
            background-color: white;
            color: $accent-color;
        }
    }

    .chart-ctrl-btn-month {
        margin-left: 10px;
        float: left;
    }

    .chart-ctrl-btn-quarter {
        float: left;
    }

    .chart-ctrl-btn-table {
        float: right;
        margin-right:10px;
        background-image: url('../../../../assets/sales/charts-top-table.png');

        &.selected{
            background-image: url('../../../../assets/sales/charts-top-table-pressed.png');
        }
    }

    .chart-ctrl-btn-accumulated {
        float: right;
        background-image: url('../../../../assets/sales/charts-top-accumulated.png');

        &.selected{
            background-image: url('../../../../assets/sales/charts-top-accumulated-pressed.png');
        }
    }

    .chart-ctrl-btn-absolute {
        float: right;
        background-image: url('../../../../assets/sales/charts-top-absolute.png');

        &.selected{
            background-image: url('../../../../assets/sales/charts-top-absolute-pressed.png');
        }
    }
}

.chart-legend {
    background-color: white;
    width: 100%;
    height: $chart-legend-height;
    padding: 1px 5px;

    .chart-legend-year {
        font-size: 10pt;
        width: 35px;
        margin-left: 10px;
        float: right;

        &:after {
            content: ' ';
            width: 10px;
            height: 10px;
            position: absolute;
            margin:4px;
        }
    }

    .chart-legend-current-year {
        &:after { 
            background:$current-year-accent-color;
        }
    }

    .chart-legend-previous-year {
        &:after { 
            background:$previous-year-accent-color;
        }
    }
}

.chart{
    background: $chart-background-color;
    position: relative;
    height: $chart-height;
    
    .chart-yAxis-legend-wrapper {
        width: 100%;
        height: $chart-yAxis-legend-wrapper-height;

        .legend {
            font-size: 8pt;
            font-weight: bold;
            padding: 0 7px;
            float: left;
            transform: rotate(270deg);
        }
    }

    .scale-line {
        width: 100%;
        height: 1px;
        position: absolute;

        span {
            font-size: 8pt;
            font-weight: bold;
            position: absolute;
            margin-top: -7px;
            margin-left: 8px;
            width: 20px;
            text-align: center;
        }

        &:after {
            content: ' ';
            width: calc(100% - 40px);
            height: 1px;
            background: gray;
            position: absolute;
            left: 0;
            margin-left: 30px;
        }

        // 33px => 6px + 27px
        // 6px => the top position of the axis
        // 27px => the bottom position of the zero axis
        // the '100%' of chart will be (100% - (6px + 27px))

        &-one {
            bottom: calc((100% - (33px + #{$chart-yAxis-legend-wrapper-height})) * .25 + 27px);
        }

        &-two {
            bottom: calc((100% - (33px + #{$chart-yAxis-legend-wrapper-height})) * .5 + 27px);
        }

        &-three {
            bottom: calc((100% - (33px + #{$chart-yAxis-legend-wrapper-height})) * .75 + 27px);
        }

        &-four {
            bottom: calc((100% - (33px + #{$chart-yAxis-legend-wrapper-height})) * 1 + 27px);
        }
    }

    .chart-canvas-wrapper {
        width: 100%;
        height: $chart-canvas-wrapper-height;
        padding-left: 25px;
        overflow-x: auto;
        overflow-y: hidden;

        .chart-canvas-inner-wrapper {
            width: 100%;
            height: 100%;
            position: relative;

            &.weeks {
                width: 500%;
            }

            canvas {
                position: absolute;
                z-index: 1;
            }
        }
    }
}

.extra-info {
    width: 100%;
    height: $extra-info-height;
    background: white;
    text-align: center;
    font-size: 10pt;
    padding: 10px;
}

.month-selector-wrapper {
    width: 100%;
    height: $month-selector;
}

.footer-tab-menus-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-tab-menus-wrapper-height;
    z-index: 1;
}