<!-- SIDE MENU -->
<side-menu contentId="sales-home-page-content" menuId="sales-home-page-menu"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="selectedCompanySales">
            <div class="page-title" (click)="showCompanySelectorAction($event)">
                {{selectedCompanySales.key}}
            </div>
        </ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="sales-home-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="sales-home-page-content" scrollY='false'>
    <sales-charts [data]="salesChartsData"></sales-charts>
</ion-content>