.ticker{
    .ticker-title{
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .ticker-settings {
        height: 20px;
        width: 20px;
        top: 2px;
        position: absolute;
        right: 0;

        background-image: url(../../../../assets/shell/ticker_settings.png);
        background-repeat: no-repeat;
        background-color: transparent;
        background-size: 100%;
    }

    .ticker-content{

    }
}

.tickers-pager {
    width: 100%;
    text-align: center;
}