<div class="tickers">
    <div class="tickers-slides">
        <div class="no-tickers ticker" *ngIf="totalTickers === 0">
            <div class="ticker-header">
                <div class="ticker-title">{{'SHELL.TICKERS_COMPONENT.NO_TICKERS_TITLE' | translate}}</div>
            </div>
            <div class="ticker-content" [routerLink]="['/shell/ticker-settings']">
                <div class="no-tickers-open-settings">
                    <div class="icon"></div>
                    <div class="label">{{'SHELL.TICKERS_COMPONENT.NO_TICKERS_OPEN_SETTIONS_BTN' | translate}}</div>
                </div>
            </div>
        </div>

        <ion-slides #slide [hidden]="totalTickers === 0">
            <ion-slide *ngFor="let ticker of tickers">
                <div class="ticker">
                    <div class="ticker-header">
                        <div class="ticker-title">{{ticker.title | translate}}</div>
                        <button class="ticker-settings" [routerLink]="['/shell/ticker-settings']"></button>
                    </div>
                    <div class="ticker-content">
                        <ticker-wrapper [ticker]="ticker"></ticker-wrapper>
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
    <div class="tickers-pager" *ngIf="totalTickers !== 0">{{currentTickerIndex}}/{{totalTickers}}</div>
</div>