$tickers-pager-height: 8em; //50px;
$tickers-slides-height: calc(100% - #{$tickers-pager-height});
$ticker-header-height: 10em; //50px;
$ticker-content-height: calc(100% - #{$ticker-header-height});

.tickers {
    width: 100%;
    height: 100%;
}

.tickers-slides {
    height: $tickers-slides-height;
    width: 100%;

    ion-slides {
        height: 100%;
        width: 100%;
    }
}

.tickers-pager {
    width: 100%;
    height: $tickers-pager-height;
    padding: 2.25em;
    text-align: center;
    
    span {
        font-size: 2.4em;
    }
}

.ticker{
    width: 100%;
    height: 100%;
    padding: 0 15%;

    .ticker-header {
        width: 100%;
        height: $ticker-header-height;
        position: relative;

        .ticker-title{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 4em;// 20pt;
            color: #596278;
            position: absolute;
            bottom: 0;
            line-height: .8em; //20px;
        }
    
        .ticker-settings {
            height: 1.5em; //25px;
            width: 1.5em; //25px;
            position: absolute;
            
            right: 0;
            bottom: 0;

            background-color: lightgray;
        }
    }

    .ticker-content{
        width: 100%;
        height: $ticker-content-height;
        position: relative;
        

        >* {
            width: 100%;
            height: 100%;
            position: absolute;
            top:0;
            left: 0;
        }
    }
}

.no-tickers {

    .ticker-header .ticker-title {
        text-align: center;
        width: 100%;
    }

    .ticker-content .no-tickers-open-settings {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 95px;

        .icon {
            width: 50px;
            height: 50px;
            transform: translateX(-50%);
            margin-left: 50%;
            margin-right: 50%;
            background-color: lightgray;
        }

        .label {
            margin-top: 15px;
            font-size: 16pt;
            text-align: center;
        }
    }
}