.language {
    .language-selector {
        background-image: url('../../../../assets/shell/settings_option_checked.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 12px;
        width: 12px;
        height: 12px;
    }
}
