<ion-header>
    <ion-toolbar>
        <ion-title>
            V10 Mobile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <a target="_blank" rel="noopener" href="https://stg-identity.primaverabss.com/login?returnUrl=com.primavera.v10://authentication">Authentication2</a>
    <br />

    <ion-grid>
        <!-- Modules Tickers -->
        <ion-row>
            <ion-col>
                <tickers></tickers>
            </ion-col>
        </ion-row>
        <!-- Modules -->
        <ion-row>
            <ion-col>
                <a class="module-icon" [routerLink]="['/sales']">
                    <img src="../../assets/sales/sales_home.png">
                    <div class="name">Sales</div>
                </a>
            </ion-col>
            <ion-col>
                <a class="module-icon" [routerLink]="['/hr']">
                    <img src="../../assets/human-resources/hr_home.png" (click)="openHrModule()">
                    <div class="name">HR</div>
                </a>
            </ion-col>
            <ion-col>
                <a class="module-icon">
                    <img src="../../assets/clients/clients_home.png" (click)="openClientsModule()">
                    <div class="name">Clients</div>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>