<!-- SIDE MENU -->
<side-menu contentId="content"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.FINANTIAL_DOCUMENT_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="content" scrollY='false'>
    <div class="finantial-document-line">
        <finantial-document-row></finantial-document-row>
        <div class="finantial-document-line-details">
            <finantial-document-detail-row label="Description" value="Order" color="orange"></finantial-document-detail-row>
            <finantial-document-detail-row label="Payment conditions" value="30 days" color="green"></finantial-document-detail-row>
            <finantial-document-detail-row label="Loading point" value="Our Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Unloading point" value="Your Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Description" value="Order"></finantial-document-detail-row>
            <finantial-document-detail-row label="Payment conditions" value="30 days"></finantial-document-detail-row>
            <finantial-document-detail-row label="Loading point" value="Our Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Unloading point" value="Your Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Description" value="Order"></finantial-document-detail-row>
            <finantial-document-detail-row label="Payment conditions" value="30 days"></finantial-document-detail-row>
            <finantial-document-detail-row label="Loading point" value="Our Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Unloading point" value="Your Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Description" value="Order"></finantial-document-detail-row>
            <finantial-document-detail-row label="Payment conditions" value="30 days"></finantial-document-detail-row>
            <finantial-document-detail-row label="Loading point" value="Our Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Unloading point" value="Your Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Description" value="Order"></finantial-document-detail-row>
            <finantial-document-detail-row label="Payment conditions" value="30 days"></finantial-document-detail-row>
            <finantial-document-detail-row label="Loading point" value="Our Site"></finantial-document-detail-row>
            <finantial-document-detail-row label="Unloading point" value="Your Site"></finantial-document-detail-row>
        </div>
    </div>
</ion-content>