<!-- SIDE MENU -->
<side-menu contentId="customers-finantial-document-line-page-content" menuId="customers-finantial-document-line-page-menu"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.FINANTIAL_DOCUMENT_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="customers-finantial-document-line-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="customers-finantial-document-line-page-content" scrollY='false'>
    <div class="finantial-document-line">
        <finantial-document-row 
            [title]="documentHeaderItems | valueFromDocumentValues:headerConfiguration.titleKey"
            [date]="documentHeaderItems | valueFromDocumentValues:headerConfiguration.dateKey"
            [secondDate]="documentHeaderItems | valueFromDocumentValues:headerConfiguration.secondDateKey"
            [value]="documentHeaderItems | valueFromDocumentValues:headerConfiguration.valueKey"
            [secondValue]="documentHeaderItems | valueFromDocumentValues:headerConfiguration.secondValueKey"
            [accentColor]="headerConfiguration.accentColor">
        </finantial-document-row>

        <div class="finantial-document-line-details">
                <finantial-document-value-row 
                    *ngFor="let documentValue of documentLineValues" 
                    [documentValue]="documentValue"
                    [colorIndex]="sidebarColorIndex"
                    >
                </finantial-document-value-row>
        </div>
    </div>
</ion-content>