
@import '../../styles/variables.scss';


.finantial-document-row {
    height: 50px;
    padding: 5px 10px;

    &:nth-child(1) {
        height: 60px;
        padding: 10px 10px;
        border-bottom: 1px solid #8A92A5;
        color: #19243b;
    }

    border-bottom: $border;
    font-weight: bold;

    .label {
        float: left;
        width: calc(100% - 100px);
    }

    .dates {
        float: left;
        width: calc(100% - 100px);
        font-size: 9pt;

        .icon {
            width: 16px;
            height: 16px;
            background-color: #8A92A5;
            margin-right: 5px;
        }

        .date {
            float: left;
        }

        .second-date {
            margin-left: 10px;
            float: left;
        }
    }

    .values {
        float: right;
        width: 100px;
        text-align: right;

        .value {
            
        }

        .second-value {
            font-size: 9pt;
            color: #596278;
        }
    }
}