<ion-list>
    <ion-item>
        <ion-label>ALCAD</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>SOFRIO</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>DEMO 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>DEMO 2</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>PRIMAVERA</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>ALCAD</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>SOFRIO</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>DEMO 1</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>DEMO 2</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>PRIMAVERA</ion-label>
    </ion-item>
</ion-list>