
@import '../../styles/variables.scss';

$menu-height: 50px;
$menu-list-row-height: 40px;
$menu-list-row-text-color: rgb(204, 204, 204);
$menu-list-row-text-selected-color: $sales-accent-color;

.footer-tab-menus {
    height: $menu-height;
    width: 100%;
    background:rgb(246,247,249);
    transition: transform .35s ease-in-out;

    &.close{
        transform: translateY(0);
    }

    &.open{
        transform: translateY(-150px);
    }

    .menu {
        height: $menu-height + 1px;
        width: 100%;
        border-top: 1px solid rgb(211,212,214);
        position: absolute;

        .menu-icon {
            float: left;
            text-align: center;

            img {
                height: 25px ;
                width: 25px;
                margin: 10px;
            }
        }
    }

    .menu-arrow {
        background: green;
        position: absolute;
        top: $menu-height - 1px;
        transition: left .35s ease-in-out;

        &:before {
            content: "";
            top:1px;
            width: 0;
            height: 0;
            position: absolute;
            border-top: 10px solid rgb(211,212,214);
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid transparent;
        }

        &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            border-top: 10px solid rgb(246,247,249);
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid transparent;
        }
    }

    .list {
        border-top: 1px solid rgb(211,212,214);
        background: white;
        height: 150px;
        width: 100%;
        overflow: auto;
        position: absolute;
        top: $menu-height;

        .list-row {
            height: 40px;
            width: 100%;
            border-bottom: 1px solid rgb(211,212,214);

            &.selected {
                span {
                    color: $menu-list-row-text-selected-color;    
                }
            }

            span {
                font-size: 14pt;
                line-height: 40px;
                padding-left: 10px;
                color: $menu-list-row-text-color;
            }
        }
    }
}
