<div class="sales-chart">
    <div class="chart-legend">
        <div class="chart-legend-year chart-legend-current-year">{{currentYearLegend}}</div>
        <div class="chart-legend-year chart-legend-previous-year">{{previousYearLegend}}</div>
    </div>
    <div class="chart">
        <div class="chart-yAxis-legend-wrapper">
            <div class="legend">
                {{yAxisScaleUnitPrefix}} ({{currentCurrency | currencySymbol}})
            </div>
        </div>
        <div class="chart-canvas-wrapper">
            <div class="chart-canvas-inner-wrapper" [ngClass]="{'weeks': currentPeriodType === 1}">
                <canvas #chartCanvas></canvas>
            </div>
        </div>
        <div class="scale-line scale-line-one">
            <span>{{yAxisScaleStep}}</span>
        </div>
        <div class="scale-line scale-line-two">
            <span>{{(yAxisScaleStep * 2)*10/10}}</span>
        </div>
        <div class="scale-line scale-line-three">
            <span>{{(yAxisScaleStep * 3)*10/10}}</span>
        </div>
        <div class="scale-line scale-line-four">
            <span>{{(yAxisScaleStep * 4)*10/10}}</span>
        </div>
    </div>
</div>