<div class="finantial-document-line-row">
    <div class="row-index" [ngClass]="colorClass">
        {{index}}
    </div>
    <div class="row-data">
        <div class="row-data-label">
            {{title}}
        </div>
        <div class="row-data-value">
            <div class="row-data-value-label">{{leftValueTitle}}</div>
            <div class="row-data-value-value">{{leftValue}}</div>
        </div>
        <div class="row-data-value">
            <div class="row-data-value-label">{{rightValueTitle}}</div>
            <div class="row-data-value-value">{{rightValue}}</div>
        </div>
    </div>
    <div class="row-arrow">
        >
    </div>
</div>