// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// Fonts
@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('assets/fonts/OpenSans-CondLight.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('assets/fonts/OpenSans-CondBold.ttf');
    font-weight: 700;
}

* {
    font-family: 'Open Sans Condensed';
}

// remove 'Back' from back button
.sc-ion-back-button-ios {
    .button-text {
        opacity: 0;
    }
}