@import '../../styles/variables.scss';

$customer-name-height: 42px;
$current-account-total-height: 20px;
$tabs-height: 50px;
$documents-wrapper-height: calc(100% - #{$customer-name-height + $current-account-total-height + $tabs-height});

.current-account {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    .customer-name {
        height: $customer-name-height;
        width: 100%;
        padding: 10px;
        font-weight: bold;
    }

    .current-account-total {
        height: $current-account-total-height;
        color: $customers-accent-color;
        font-weight: bold;
        font-size: 10pt;
        padding: 10px;

        .label {
            float: left;
        }

        .value {
            float: right;
        }
    }

    .tabs {
        height: $tabs-height;
        width: 100%;
        float: left;
        padding-top: 10px;

        .tab {
            width: calc(100% / 3);
            float: left;
            border-right: $border;
            border-bottom: $border;
            padding: 0px 10px 5px 10px;
            font-size: 9pt;
            font-weight: bold;

            &:first-child {
                padding-left: 10px;
            }

            &:last-child {
                border-right: none;
            }

            &.selected {
                &.tab-older {
                    .label {
                        color: #E53935;
                    }
                }
    
                &.tab-last-month {
                    .label {
                        color: #E53935;
                    }
                }
    
                &.tab-unexpired {
                    .label {
                        color: #00E676;
                    }
                }
            }

            .label {
                color: #959595;
                width: 100%;
            }

            .value {
                width: 100%;

                span.pri-not-expired-icon {
                    background-color: #E53935;
                    width: 17px;
                    height: 15px;
                }

                span.pri-expired-icon {
                    background-color: #00E676;
                    width: 15px;
                    height: 15px;
                    mask-size: 140%;
                    mask-position: center;
                    margin-top: 1px;

                }
            }
        }

        .arrow {
            background: green;
            position: absolute;
            top: 117px;
            transition: left .35s ease-in-out;
    
            &:before {
                content: "";
                top:1px;
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid rgb(211,212,214);
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid transparent;
            }
    
            &:after {
                content: "";
                width: 0;
                height: 0;
                position: absolute;
                border-top: 10px solid #fff;
                border-right: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 10px solid transparent;
            }
        }
    }

    .documents-wrapper {
        width: 100%;
        height: $documents-wrapper-height;
        overflow-x: hidden;
        overflow-y: auto;
        float: left;
        background: #F8F8F8;
        padding-top: 15px;

        .documents {
            max-height: 100%;
            background: white;
        }
    }
}