<!-- SIDE MENU -->
<side-menu contentId="customers-current-account-page-content" menuId="customers-current-account-page-menu"></side-menu>

<!-- PAGE -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><span class="navbar-title">{{ 'CUSTOMERS.CURRENT_ACCOUNT_PAGE.PAGE_TITLE' | translate }}</span></ion-title>
        <ion-buttons slot="end">
            <ion-menu-button autoHide="false" menu="customers-current-account-page-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="customers-current-account-page-content" scrollY='false'>
    <div class="current-account" *ngIf="currentAccount">
        <div class="customer-name">{{customerKey}}</div>
        <div class="current-account-total">
            <div class="label">{{'CUSTOMERS.CURRENT_ACCOUNT_PAGE.CURRENT_ACCOUNT_LABEL' | translate}}</div>
            <div class="value">{{currentAccount.total | localeCurrency:currentAccount.currency}}</div>
        </div>
        <div class="tabs">
            <div class="tab tab-older" [ngClass]="{'selected': state === 'older' }" (click)="changeStateAction('older')">
                <div class="label">{{'CUSTOMERS.CURRENT_ACCOUNT_PAGE.OLDER_DOCUMENTS_TAB_LABEL' | translate}}</div>
                <div class="value">
                    <span class="pri-icon pri-expired-icon"></span>
                    {{currentAccount.expiredSixtyDays ? currentAccount.expiredSixtyDays.total : 0 | localeCurrency:currentAccount.currency}}
                </div>
            </div>
            <div class="tab tab-last-month" [ngClass]="{'selected': state === 'lastMonth' }" (click)="changeStateAction('lastMonth')">
                <div class="label">{{'CUSTOMERS.CURRENT_ACCOUNT_PAGE.LAST_MONTH_DOCUMENTS_TAB_LABEL' | translate}}</div>
                <div class="value">
                    <span class="pri-icon pri-expired-icon"></span>
                    {{currentAccount.expiredThirtyDays ? currentAccount.expiredThirtyDays.total : 0 | localeCurrency:currentAccount.currency}}
                </div>
            </div>
            <div class="arrow" [ngStyle]="getArrowComputedStyle()"></div>
            <div class="tab tab-unexpired" [ngClass]="{'selected': state === 'unexpired' }" (click)="changeStateAction('unexpired')">
                <div class="label">{{'CUSTOMERS.CURRENT_ACCOUNT_PAGE.UNEXPIRED_DOCUMENTS_TAB_LABEL' | translate}}</div>
                <div class="value">
                    <span class="pri-icon pri-not-expired-icon"></span>
                    {{currentAccount.unexpired ? currentAccount.unexpired.total : 0 | localeCurrency:currentAccount.currency}}
                </div>
            </div>
        </div>
        <div class="documents-wrapper">
            <div class="no-documensts" *ngIf="documents.length === 0">
                {{'CUSTOMERS.COMMON.NO_DOCUMENTS_TO_SHOW' | translate}}
            </div>
            <div class="documents">
                <finantial-document-row *ngFor="let doc of documents" 
                    [title]="doc.headerItems | valueFromDocumentValues:'DocumentName|DocumentNumber'"
                    [date]="doc.headerItems | valueFromDocumentValues:'DocumentDate'" 
                    [secondDate]="doc.headerItems | valueFromDocumentValues:'DocumentDueDate'"
                    [value]="doc.headerItems | valueFromDocumentValues:'DocumentTotalValue'" 
                    [secondValue]="doc.headerItems | valueFromDocumentValues:'DocumentPendingValue'"
                    [accentColor]="rowAccentColor"
                    (click)="showDocumentDetailAction(doc)">
                </finantial-document-row>
            </div>
        </div>
    </div>
</ion-content>