

.sales-ticker {
    width: 100%;
    height: 100%;

    .chart {
        left: 50%;
        transform: translateX(-50%);
        height: 50%;
        position: absolute;
        float: left;

        .last-year-label {
            position: absolute;
            top:120px;
            left: 90px;
            color: #8A92A5;
            top: 72%;
            left: 52%;
            font-size: 14pt;
        }

        .current-year-label {
            position: absolute;
            color: #1D317D;
            top: 86%;
            left: 52%;
            font-size: 14pt;
        }

        .end-chart {
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: rotate(-45deg);

            > div {
                background: rgb(238,238,238);
                position: relative;
                width: 35%;
                height: 100%;
                left: 64%;
            }
        }

        .sales-delta {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25pt;
            font-weight: bold;
            color: rgb(32, 184, 99);

            &:after {
                content: ' ';
                top: 2px;
                border-width: 10px;
                border-style: solid;
                border-top-color: transparent;
                border-right-color: transparent;
                border-bottom-color: rgb(32, 184, 99);
                border-left-color: transparent;
                width: 0;
                height: 0;
                position: absolute;
                right: -25px;
            }

            &.negative {
                color: rgb(229, 57, 55);

                &:after {
                    top: 12px;
                    border-top-color: rgb(229, 57, 55);
                    border-right-color: transparent;
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                }
            }
        }
    }

    .data {
        height: 50%;
        position: absolute;
        float: left;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18pt;
        
        .data-wrapper {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }


        .date {
            float: left;
            width:100%;
            text-align: left;
            color: #596278;
        }

        .company {
            float: left;
            width:100%;
            text-align: left;
            font-weight: bold;
            color: #1d317d;
        }

        .total-sales {
            float: left;
            width:100%;
            text-align: left;
            margin-top: 20px;

            .label {
                padding-bottom: 2px;
                color: #596278;
            }

            .line {
                width: 120%;
                margin: 5px -10%;
                height: 1px;
                background: #dbe0eb;
            }

            .value {
                color: #1d317d;
            }
        }
    }
}