<div class="sales-ticker">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <div class="chart">
                    <div class="last-year-label">{{companySalesSummary.totalSalesPreviousLegend}}</div>
                    <div class="current-year-label">{{companySalesSummary.totalSalesLegend}}</div>
                    <canvas #chart></canvas>
                </div>
            </ion-col>
            <ion-col size="6">
                <div class="data">
                    <div class="date">
                        {{companySalesSummary.dateTimestamp | date:'mediumDate'}}
                    </div>
                    <div class="company">
                        {{companySalesSummary.name}}
                    </div>
                    <div class="total-sales">
                        <div class="label">
                            Total Sales
                        </div>
                        <div class="value">
                            {{companySalesSummary.totalSales | currency:companySalesSummary.currency}}
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>